<div ng-controller="RegisterFormController as reg" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="content/img/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">Inscreva-se para obter acesso!</p>
         <form role="form" name="reg.registerForm" novalidate="" ng-submit="reg.register()" class="form-validate mb-lg">
            <div class="form-group has-feedback">
               <label class="text-muted">Email</label>
               <input type="email" 
                      name="account_email" 
                      placeholder="Inserir email" 
                      autocomplete="off" 
                      ng-model="reg.account.email" 
                      required="" 
                      class="form-control" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
               <span ng-show="reg.registerForm.account_email.$dirty &amp;&amp; 
                              reg.registerForm.account_email.$error.required" 
                     class="text-danger">Este campo é obrigatório</span>

               <span ng-show="reg.registerForm.account_email.$dirty &amp;&amp; 
                              reg.registerForm.account_email.$error.email" 
                     class="text-danger">Inserir um endereço de e-mail válido</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Senha</label>
               <input id="id-password" 
                      type="password" 
                      name="account_password" 
                      ng-model="reg.register.password" 
                      ng-pattern="/^[a-zA-Z0-9]{6,10}$/" 
                      required="" class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span ng-show="reg.registerForm.account_password.$dirty &amp;&amp; 
                              reg.registerForm.account_password.$error.required" 
                     class="text-danger">Este campo é obrigatório</span>
               <span ng-show="reg.registerForm.account_password.$dirty &amp;&amp; 
                              reg.registerForm.account_password.$error.pattern" 
                     class="text-danger">Input should match 'a-zA-Z0-9' and 6-10 length</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Digite novamente a senha</label>
               <input type="password" 
                      name="account_password_confirm" 
                      ng-model="reg.register.account_password_confirm" 
                      ui-validate="'$value==register.password'" 
                      ui-validate-watch="'password'" 
                      class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span ng-show="reg.registerForm.account_password_confirm.$dirty &amp;&amp; 
                              reg.registerForm.account_password_confirm.$error.validator" 
                     class="text-danger">Senhas não conferem</span>
            </div>
            <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                     <input type="checkbox" 
                            required="" 
                            name="account_agreed" 
                            ng-model="reg.account.agreed" />
                     <span class="fa fa-check"></span>Eu concordo com os <a href="#">termos</a>
                  </label>
               </div>
            </div>
            <div ng-show="reg.registerForm.account_agreed.$dirty &amp;&amp; 
                          reg.registerForm.account_agreed.$error.required" 
                 class="text-danger">Você Deve aceitar os termos</div>
            <button type="submit" 
                    class="btn btn-block btn-primary mt-lg">Criar Conta</button>
         </form>
         <div ng-show="reg.authMsg" class="alert alert-danger text-center">{{reg.authMsg}}</div>
         <p class="pt-lg text-center">Possui uma conta?</p><a ui-sref="page.login" class="btn btn-block btn-default">Entrar</a>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>