<h3>Pessoas
   <small>Inserir</small>
</h3>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li><a href="#/">Pessoas</a></li>
                <li><a href="#/pessoas-new" class="active">Nova Pessoa</a></li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Inserir</h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form form-wizard="" steps="4" novalidate="" ng-submit="alertSubmit()">
                        <div class="form-wizard wizard-horizontal">
                            <!-- START wizard steps indicator-->
                            <ol class="row">
                                <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-md-3">
                                    <h4>Pessoa Física</h4>
                                    <small class="text-muted">Informações Obrigatórias.</small>
                                </li>
                                <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-3">
                                    <h4>Pessoa Jurídica</h4>
                                    <small class="text-muted">Informações Obrigatórias.</small>
                                </li>
                                <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)" class="col-md-3">
                                    <h4>Dados da Pessoa</h4>
                                    <small class="text-muted">Endereço e Contato.</small>
                                </li>
                                <li ng-class="{'active':wizard.active(4)}" ng-click="wizard.go(4)" class="col-md-3">
                                    <h4>Concluir</h4>
                                    <small class="text-muted">Salvar dados.</small>
                                </li>
                            </ol>
                            <!-- END wizard steps indicator-->
                            <!-- START Wizard Step inputs -->
                            <div ng-show="wizard.active(1)">
                                <fieldset>
                                    <legend>Pessoa Física</legend>
                                    <!-- START row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nome</label>
                                                <div class="controls">
                                                    <input type="text" name="username" placeholder="Your nick here" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Sobre Nome</label>
                                                <div class="controls">
                                                    <input type="text" name="username" placeholder="Your nick here" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END row -->
                                </fieldset>
                                <ul class="pager">
                                    <li class="next"><a href="#" ng-click="wizard.go(3)">Next <span>&rarr;</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="wizard.active(2)">
                                <fieldset>
                                    <legend>Pessoa Jurídica</legend>
                                    <!-- START row -->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Razão Social</label>
                                                <div class="controls">
                                                    <input type="text" name="username" placeholder="Your nick here" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Nome Fantasia</label>
                                                <div class="controls">
                                                    <input type="text" name="username" placeholder="Your nick here" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Required Text</label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="sometext" required="" ng-model="sometext" class="form-control" />
                                                    <span ng-show="PessoasCadCtrl.formValidate.sometext.$dirty &amp;&amp; 
                                          PessoasCadCtrl.formValidate.sometext.$error.required" class="text-danger">This field is required</span>
                                                    <span ng-show="PessoasCadCtrl.formValidate.sometext.$dirty &amp;&amp;
                                          PessoasCadCtrl.formValidate.sometext.$error.sometext" class="text-danger">This field must be a valid</span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <small class="text-muted">required</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END row -->
                                </fieldset>
                                <ul class="pager">
                                    <li class="next"><a href="#" ng-click="wizard.go(3)">Next <span>&rarr;</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="wizard.active(3)">
                                <fieldset>
                                    <form name="PessoasCadCtrl.formValidate" ng-submit="PessoasCadCtrl.submitForm()" novalidate="" class="form-validate form-horizontal">
                                        <!-- START panel-->
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <fieldset class="b0">
                                                </fieldset>
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Email</label>
                                                        <div class="col-sm-6">
                                                            <input type="email" placeholder="mail@example.com" name="email" required="" ng-model="email" class="form-control" />
                                                            <span ng-show="form.validateInput('email', 'required')" class="text-danger">This field is required</span>
                                                            <span ng-show="form.validateInput('email', 'email')" class="text-danger">This field must be a valid email address</span>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <small class="text-muted">type='email'</small>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Checkbox &amp; Radio</label>
                                                        <div class="col-sm-6">
                                                            <div class="checkbox c-checkbox needsclick">
                                                                <label class="needsclick">
                                                                    <input type="checkbox" required="" name="checkbox" ng-model="checkbox" class="needsclick" />
                                                                    <span class="fa fa-check"></span>Option one</label>
                                                            </div>
                                                            <span ng-show="form.validateInput('checkbox', 'required')" class="text-danger">This field is required</span>
                                                            <div class="radio c-radio">
                                                                <label>
                                                                    <input type="radio" required="" name="radio" value="option1" ng-model="radio" />
                                                                    <span class="fa fa-circle"></span>Option one</label>
                                                            </div>
                                                            <div class="radio c-radio">
                                                                <label>
                                                                    <input type="radio" required="" name="radio" value="option2" ng-model="radio" />
                                                                    <span class="fa fa-circle"></span>Option two checked</label>
                                                            </div>
                                                            <span ng-show="form.validateInput('radio', 'required')" class="text-danger">This field is required</span>
                                                        </div>
                                                        <div class="col-sm-4"></div>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Select</label>
                                                        <div class="col-sm-6">
                                                            <select name="select" required="" ng-model="select" class="form-control">
                                                                <option value="">Nothing</option>
                                                                <option value="1">Option 1</option>
                                                                <option value="2">Option 2</option>
                                                                <option value="3">Option 3</option>
                                                                <option value="4">Option 4</option>
                                                            </select>
                                                            <span ng-show="form.validateInput('select', 'required')" class="text-danger">This field is required</span>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <small class="text-muted">type='number'</small>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Number</label>
                                                        <div class="col-sm-6">
                                                            <input type="number" name="number" required="" ng-model="number" class="form-control" />
                                                            <span ng-show="form.validateInput('number', 'number')" class="text-danger">This field must be a valid number</span>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <small class="text-muted">type='number'</small>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Digits</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" name="digits" required="" ng-pattern="/^[0-9]+$/" ng-model="digits" class="form-control" />
                                                            <span ng-show="form.validateInput('digits', 'pattern')" class="text-danger">This field must contain only digits</span>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <small class="text-muted">ng-pattern="/^[0-9]+$/"</small>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Alphanum</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" name="alphanum" required="" ng-pattern="/^[a-zA-Z]+$/" ng-model="alphanum" class="form-control" />
                                                            <span ng-show="form.validateInput('alphanum', 'pattern')" class="text-danger">This field must contain only letters</span>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <small class="text-muted">ng-pattern="/^[a-zA-Z]+$/"</small>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset class="bb0">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Url</label>
                                                        <div class="col-sm-6">
                                                            <input type="url" name="url" required="" ng-model="url" placeholder="protocol://" class="form-control" />
                                                            <span ng-show="form.validateInput('url', 'url')" class="text-danger">This field must be a valid url</span>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <small class="text-muted">type='url'</small>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <!-- END panel-->
                                        </div>
                                    </form>
                                </fieldset>
                                <ul class="pager">
                                    <li class="next"><a href="#" ng-click="wizard.go(4)">Next <span>&rarr;</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="wizard.active(4)">
                                <fieldset>
                                    <legend>Finalizar</legend>
                                    <!-- START row -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <button class="btn btn-default" data-ng-click="ProfessionalCadCtrl.cancelar()" type="button">Cancelar
                                                </button>
                                                <button class="btn btn-primary" data-ng-click="ProfessionalCadCtrl.salvar()" ng-disabled="ProfessionalCadCtrl.isSalvarDisabled()">
                                                    <i class=""></i> Salvar
                                                </button>
                                                <button data-ng-click="ProfessionalCadCtrl.deletar()" data-ng-show="ProfessionalCadCtrl.professional.id" class="btn btn-danger">
                                                    <i class=""></i> Deletar
                                                </button>
                                                <input class="btn btn-default" type="reset" name="reset" value="Limpar">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END row -->
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
