<h3>Planos
   <small>Aderir</small>
</h3
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li><a href="#/">Plano</a></li>
                <li><a href="#/pessoas-new" class="active">Add Cliente</a></li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Adicionar Cliente</h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                	<div class="row">
                	 <fieldset>
			            <div class="form-group">
							<div id="panelPortlet4" class="panel widget dark-blue col-lg-2 col-sm-2  margin-2">
						        <div class="portlet-handler">
						            <div class="row row-table row-flush">
						                <div class="col-xs-3  text-center">
		           							 <label class="radio-inline c-radio">
                     						<input id="inlineradio20"
                     							   type="radio" 
                     							   name="i-radio" 
                     							   value="option2" 
                     							   checked="checked" />
                    						 <span class="fa fa-user">
                    						 </span></label>
						                </div>
						                <div class="col-xs-8">
						                    <div class="panel-body text-center ">
						                        <h4 class="mt0 font">Plano</h4>
						                        <p class="mb0 font">800 KB</p>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </div>
						    <div id="panelPortlet4" class="panel widget dark-blue col-lg-2 col-sm-2  margin-1">
						        <div class="portlet-handler">
						            <div class="row row-table row-flush">
						                <div class="col-xs-3  text-center">
		           							 <label class="radio-inline c-radio">
                     						<input id="inlineradio20"
                     							   type="radio" 
                     							   name="i-radio" 
                     							   value="option2" 
                     							   checked="checked" />
                    						 <span class="fa fa-user">
                    						 </span></label>
						                </div>
						                <div class="col-xs-8">
						                    <div class="panel-body text-center ">
						                        <h4 class="mt0 font">Plano</h4>
						                        <p class="mb0 font">1 MB</p>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </div>
						    <div id="panelPortlet4" class="panel widget dark-blue col-lg-2 col-sm-2  margin-1">
						        <div class="portlet-handler">
						            <div class="row row-table row-flush">
						                <div class="col-xs-3  text-center">
		           							 <label class="radio-inline c-radio">
                     						<input id="inlineradio20"
                     							   type="radio" 
                     							   name="i-radio" 
                     							   value="option2" 
                     							   checked="checked" />
                    						 <span class="fa fa-user">
                    						 </span></label>
						                </div>
						                <div class="col-xs-8">
						                    <div class="panel-body text-center ">
						                        <h4 class="mt0 font">Plano</h4>
						                        <p class="mb0 font">2 MB</p>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </div>
						    <div id="panelPortlet4" 
						    	 class="panel widget dark-blue col-lg-2 col-sm-2  margin-1">
						        <div class="portlet-handler">
						            <div class="row row-table row-flush">
						                <div class="col-xs-4 text-center">
		           							 <label class="radio-inline c-radio">
                     						<input id="inlineradio20"
                     							   type="radio" 
                     							   name="i-radio" 
                     							   value="option2" 
                     							   checked="checked" />
                    						 <span class="fa fa-user">
                    						 </span></label>
						                </div>
						                <div class="col-xs-8">
						                    <div class="panel-body text-center ">
						                        <h4 class="mt0 font">Plano</h4>
						                        <p class="mb0 font">3 MB</p>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </div>
						    <div id="panelPortlet4" 
						    	 class="panel widget dark-blue col-lg-2 col-sm-2  margin-1">
						        <div class="portlet-handler">
						            <div class="row row-table row-flush">
						                <div class="col-xs-4  text-center">
		           							 <label class="radio-inline c-radio">
                     						<input id="inlineradio20"
                     							   type="radio" 
                     							   name="i-radio" 
                     							   value="option2" 
                     							   checked="checked" />
                    						 <span class="fa fa-user">
                    						 </span></label>
						                </div>
						                <div class="col-xs-8">
						                    <div class="panel-body text-center ">
						                        <h4 class="mt0 font">Plano</h4>
						                        <p class="mb0 font">4 MB</p>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </div>
			            </div>
			         </fieldset>
					 </div>
					<hr>
					<tabset type="pills">
		               <tab heading="Cliente">
		               		<hr>
			               <div id="panelDadosCad" 
	                         class="panel panel-default col-lg-12">
	                        <div ng-class="{'panel-heading-collapsed':panelDadosCad}" class="panel-heading">
	                            <paneltool tool-collapse="tool-collapse" 
	                                       ng-init="panelDadosCad=true">
	                            </paneltool>
	                        </div>
	                        <div collapse="panelDadosCad" class="panel-wrapper">
	                            <div class="panel-body">
			               	      <div class="form-group">
							         <div class="col-md-2 col-sm-2">
							            <p class="m0">Cliente</p>
							         </div>
							         <div class="col-md-8 col-sm-8">
							            <ui-select ng-model="PlanosCadCtrl.pessoas.selected" 
							            		   theme="bootstrap" ng-disabled="PlanosCadCtrl.disabled">
							               <ui-select-match placeholder="Selecione o Clientes">{{$select.selected.nome}}
							               </ui-select-match>
							               <ui-select-choices repeat="pessoa in PlanosCadCtrl.pessoas | propsFilter: {nome: $select.search}">
							                  <div ng-bind-html="PlanosCadCtrl.pessoas.nome | highlight: $select.search"></div>
							                  <small>email: {{PlanosCadCtrl.pessoas.nome}} age:
							                     <span ng-bind-html="''+person.age | highlight: $select.search"></span>
							                  </small>
							               </ui-select-choices>
							            </ui-select>
							         </div>
							         <div class="col-md-5 col-xs-12">
							            <div class="text-sm text-muted mt-sm">{{PlanosCadCtrl}}</div>
							         </div>
					      			</div>
					      			<fieldset>
					      				
					      			</fieldset>
					      		</div>
					      	</div>
					   		</div>
		               </tab>
		               <tab heading="Equipamento">
						<hr>
			               <div id="panelDadosCad" 
	                         class="panel panel-default col-lg-12">
		                        <div ng-class="{'panel-heading-collapsed':panelDadosCad}" class="panel-heading">
		                            <paneltool tool-collapse="tool-collapse" 
		                                       ng-init="panelDadosCad=true">
		                            </paneltool>
		                        </div>
		                        <div collapse="panelDadosCad" class="panel-wrapper">
		                            <div class="panel-body">
				               	      <div class="form-group">
								        
						      			</div>
						      		</div>
						      	</div>
					   		</div>
		               </tab>
		               <tab heading="Pagamento">
						<hr>
			               <div id="panelDadosCad" 
	                         class="panel panel-default col-lg-12">
		                        <div ng-class="{'panel-heading-collapsed':panelDadosCad}" class="panel-heading">
		                            <paneltool tool-collapse="tool-collapse" 
		                                       ng-init="panelDadosCad=true">
		                            </paneltool>
		                        </div>
		                        <div collapse="panelDadosCad" class="panel-wrapper">
		                            <div class="panel-body">
				               	      <div class="form-group">
								        
						      			</div>
						      		</div>
						      	</div>
					   		</div>
		               </tab>
		               <tab heading="Configurações">
						<hr>
			               <div id="panelDadosCad" 
	                         class="panel panel-default col-lg-12">
		                        <div ng-class="{'panel-heading-collapsed':panelDadosCad}" class="panel-heading">
		                            <paneltool tool-collapse="tool-collapse" 
		                                       ng-init="panelDadosCad=true">
		                            </paneltool>
		                        </div>
		                        <div collapse="panelDadosCad" class="panel-wrapper">
		                            <div class="panel-body">
				               	      <div class="form-group">
								        
						      			</div>
						      		</div>
						      	</div>
					   		</div>
		               </tab>
		            </tabset>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-sm-1"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button class="btn btn-primary" 
                                    data-ng-click="PessoasCadCtrl.demo4()">
                                <i class=""></i> Salvar
                            </button>
                            <button class="btn btn-primary" 
                                    data-ng-click="PessoasCadCtrl.demo6()">
                                <i class=""></i> Salvar e Gerar Boleto
                            </button>
                            <button data-ng-click="PessoasCadCtrl.deletar()" 
                                    data-ng-show="PessoasCadCtrl.pessoas.id" 
                                    class="btn btn-danger">
                                <i class=""></i> Deletar
                            </button>
                            <button class="btn btn-default" 
                                    data-ng-click="PessoasCadCtrl.cancelar()" 
                                    data-ng-show="PessoasCadCtrl.pessoas.id" 
                                    type="button">
                                Cancelar
                            </button>
                            <input class="btn btn-default" 
                                   type="reset" 
                                   name="reset" 
                                   value="Limpar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
