<h3>Planos
   <small>Contrato</small>
</h3
<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-8">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#/">Home</a></li>
				<li><a href="#/">Plano</a></li>
				<li><a href="#/pessoas-new" class="active">Contrato</a></li>
			</ol>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6">
							<h4>Contrato</h4>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
					
						<div class="form-group">
							<div id="panelPortlet4" class="panel widget blue-light col-lg-2 col-sm-2  margin-2">
								<div class="portlet-handler">
									<div class="row row-table row-flush">
										<div class="col-xs-3  text-center">
											 <label class="radio-inline c-radio">
											<input id="inlineradio20"
												   type="radio" 
												   name="i-radio" 
												   value="option2" 
												   checked="checked" />
											 <span class="fa fa-user">
											 </span></label>
										</div>
										<div class="col-xs-8">
											<div class="panel-body text-center ">
												<h4 class="mt0 font">Plano</h4>
												<p class="mb0 font">800 KB</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="panelPortlet4" class="panel widget blue-light col-lg-2 col-sm-2  margin-1">
								<div class="portlet-handler">
									<div class="row row-table row-flush">
										<div class="col-xs-3  text-center">
											 <label class="radio-inline c-radio">
											<input id="inlineradio20"
												   type="radio" 
												   name="i-radio" 
												   value="option2" 
												   checked="checked" />
											 <span class="fa fa-user">
											 </span></label>
										</div>
										<div class="col-xs-8">
											<div class="panel-body text-center ">
												<h4 class="mt0 font">Plano</h4>
												<p class="mb0 font">1 MB</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="panelPortlet4" class="panel widget blue-light col-lg-2 col-sm-2  margin-1">
								<div class="portlet-handler">
									<div class="row row-table row-flush">
										<div class="col-xs-3  text-center">
											 <label class="radio-inline c-radio">
											<input id="inlineradio20"
												   type="radio" 
												   name="i-radio" 
												   value="option2" 
												   checked="checked" />
											 <span class="fa fa-user">
											 </span></label>
										</div>
										<div class="col-xs-8">
											<div class="panel-body text-center ">
												<h4 class="mt0 font">Plano</h4>
												<p class="mb0 font">2 MB</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="panelPortlet4" 
								 class="panel widget blue-light col-lg-2 col-sm-2  margin-1">
								<div class="portlet-handler">
									<div class="row row-table row-flush">
										<div class="col-xs-4 text-center">
											 <label class="radio-inline c-radio">
											<input id="inlineradio20"
												   type="radio" 
												   name="i-radio" 
												   value="option2" 
												   checked="checked" />
											 <span class="fa fa-user">
											 </span></label>
										</div>
										<div class="col-xs-8">
											<div class="panel-body text-center ">
												<h4 class="mt0 font">Plano</h4>
												<p class="mb0 font">3 MB</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="panelPortlet4" 
								 class="panel widget blue-light col-lg-2 col-sm-2  margin-1">
								<div class="portlet-handler">
									<div class="row row-table row-flush">
										<div class="col-xs-4  text-center">
											 <label class="radio-inline c-radio">
											<input id="inlineradio20"
												   type="radio" 
												   name="i-radio" 
												   value="option2" 
												   checked="checked" />
											 <span class="fa fa-user">
											 </span></label>
										</div>
										<div class="col-xs-8">
											<div class="panel-body text-center ">
												<h4 class="mt0 font">Plano</h4>
												<p class="mb0 font">4 MB</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					 </div>
					<hr>
					<tabset type="pills">
					    <tab heading="Cliente">
						   <hr>
						   <div id="panelDadosCad" class="panel panel-default col-lg-12">
								<div ng-class="{'panel-heading-collapsed':panelDadosCad}" class="panel-heading">Pessoa Física
									<paneltool tool-collapse="tool-collapse" 
											   ng-init="panelDadosCad=true">
									</paneltool>
								</div>
								<div collapse="panelDadosCad" class="panel-wrapper">
									<div class="panel-body">
									  <div class="form-group">
											<div class="col-md-2 col-sm-2">
											</div>
											<div class="col-md-8 col-sm-8">
												<ui-select data-ng-model="PlanosAddCtrl.pessoas.selected" 
														   theme="bootstrap" 
														   data-ng-disabled="disabled">
												   <ui-select-match placeholder="Selecione o cliente">{{$select.selected.nome}}
												   </ui-select-match>
												   <ui-select-choices repeat="pessoa in PlanosAddCtrl.fisicas | propsFilter: {nome: $select.search}">
													  <div ng-bind-html="pessoa.nome | highlight: $select.search"></div>
													  <small>{{pessoa.nome}}
														 <span ng-bind-html="''+pessoa.segundo_nome | highlight: $select.search"></span>
													  </small>
												   </ui-select-choices>
												</ui-select>
											</div>
											<div class="col-md-5 col-xs-12">
												<div class="text-sm text-muted mt-sm"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
					    </tab>
					    <tab heading="Configurações">
							<hr>
					 		<div id="panelDadosCad" 
						 		 class="panel panel-default col-lg-12">
								<div ng-class="{'panel-heading-collapsed':panelDadosCad}" class="panel-heading">Dados Técnicos
									<paneltool tool-collapse="tool-collapse" 
											   ng-init="panelDadosCad=true">
									</paneltool>
								</div>
									<div collapse="panelDadosCad" class="panel-wrapper">
										<div class="panel-body">
											<fieldset>
												<div class="form-group">
												    <label class="col-sm-1 control-label">MAC</label>
												    <div class="col-md-3">
												        <div class="form-group">
												            <div class="controls">
												                <input type="text" 
												                	   name="mac" 
												                	   placeholder="Endereço MAC" 
												                	   class="form-control" />
												            </div>
												        </div>
												    </div>
												    <label class="col-sm-1 control-label">IP</label>
												    <div class="col-md-3">
												        <div class="form-group">
												            <div class="controls">
												                <input type="text" 
												                	   name="ip" 
												                	   placeholder="Endereço IP" 
												                	   class="form-control" />
												            </div>
												        </div>
												    </div>
												    <label class="col-sm-1 control-label">Sinal</label>
												    <div class="col-md-3">
												        <div class="form-group">
												            <div class="controls">
												                <input type="text" 
												                	   name="sinal" 
												                	   placeholder="Potência do Sinal" 
												                	   class="form-control" />
												            </div>
												        </div>
												    </div>
												</div>
											</fieldset>
											<fieldset>
												<div class="form-group">
			                                        <label class="col-sm-1 control-label">Ponto</label>
			                                        <div class="col-sm-3">
			                                            <select chosen=""
			                                                    ng-model="team" 
			                                                    width="'100%'" 
			                                                    data-placeholder="Escolha um..."
			                                                    class="chosen-select input-md">
			                                                <option value=""></option>
			                                                <optgroup >
			                                                    <option value="CNET-1">CNET-1</option>
											                      <option value="CNET-2">CNET-2</option>
											                      <option value="CNET-3">CNET-3</option>
											                      <option value="CNET-4">CNET-4</option>
											                      <option value="CNET-LML-1">CNET-LML-1</option>
											                      <option value="CNET-LML-2">CNET-LML-2</option>
											                      <option value="CNET-LML-3">CNET-LML-3</option>
											                      <option value="CNET-CENTRO">CNET-CENTRO</option>
											                      <option value="CNET-ICARENSE">CNET-ICARENSE</option>
											                      <option value="CNET-LML-ICARENSE-1">CNET-LML-ICARENSE-1</option>
											                      <option value="CNET-LML-ICARENSE-2">CNET-LML-ICARENSE-2</option>
											                      <option value="enlace-mdapalha">enlace-mdapalha</option>
											                      <option value="CNET-107-A">CNET-107-A</option>
											                      <option value="CNET-107-B">CNET-107-B</option>
											                      <option value="CNET-ORATORIO">CNET-ORATORIO</option>
											                      <option value="CNET-LML-MDAPALHA-A">CNET-LML-MDAPALHA-A</option>
											                      <option value="CNET-LML-MDAPALHA-B">CNET-LML-MDAPALHA-B</option>
											                      <option value="CNET-FIGUEIRA">CNET-FIGUEIRA</option>
											                      <option value="CNET-LML-FIG-1">CNET-LML-FIG-1</option>
											                      <option value="CNET-LML-FIG-2">CNET-LML-FIG-2</option>
											                      <option value="CNET-LML-FIG-3">CNET-LML-FIG-3</option>
											                      <option value="CNET-PALERMO">CNET-PALERMO</option>
											                      <option value="CNET-LML-PALERMO-1 5.8">CNET-LML-PALERMO-1 5.8</option>
											                      <option value="CNET-ROCINHA">CNET-ROCINHA</option>
											                      <option value="CNET-RIOBONITO">CNET-RIOBONITO</option>
											                      <option value="CNET-GUATA">CNET-GUATA</option>
											                      <option value="CNET-LML-BOAVISTA-1">CNET-LML-BOAVISTA-1</option>
											                      <option value="CNET-LML-GUATA-1">CNET-LML-GUATA-1</option>
											                      <option value="CNET-LML-GUATA-2">CNET-LML-GUATA-2</option>
											                      <option value="CNET-NOVOHORIZONTE">CNET-NOVOHORIZONTE</option>
											                      <option value="enlace-debrida">enlace-debrida</option>
											                      <option value="CNET-CAPIVARAS">CNET-CAPIVARAS</option>
											                      <option value="CNET-LML-CAFUNDO-1">CNET-LML-CAFUNDO-1</option>
											                      <option value="CNET-LML-VARGEMGRANDE-1">CNET-LML-VARGEMGRANDE-1</option>
											                      <option value="CNET-LML-VARGEMGRANDE-2">CNET-LML-VARGEMGRANDE-2 5.8</option>
			                                                </optgroup>
			                                            </select>
			                                        </div>
			                                    </div>                                 
			                                    <div class="form-group">
			                                        <label class="col-sm-1 control-label">Hardware</label>
			                                        <div class="col-sm-3">
			                                            <select chosen=""
			                                                    ng-model="team" 
			                                                    width="'100%'" 
			                                                    data-placeholder="Escolha um..."
			                                                    class="chosen-select input-md">
			                                                <optgroup>
		                                                    	<option value=""></option>
		                                                    	<option value="PLACA PCI AQ">PLACA PCI AQ</option>
									                            <option value="PLACA PCI GR">PLACA PCI GR</option>
									                            <option value="RADIO AP">RADIO AP</option>
									                            <option value="RADIO GR">RADIO GR</option>
									                            <option value="PLACA USB">PLACA USB</option>
									                            <option value="NANO LOCO">NANO LOCO</option>
									                            <option value="NANO-STATION">NANO-STATION</option>
									                            <option value="KOZUMI">KOZUMI</option>
									                            <option value="AIR GRID 23">AIR GRID 23</option>
									                            <option value="AIR GRID 27">AIR GRID 27</option>
			                                                </optgroup>
			                                            </select>
			                                        </div>
			                                    </div>
			                                    <div class="form-group">
			                                        <label class="col-sm-1 control-label">Roteador</label>
			                                        <div class="col-sm-3">
			                                            <select chosen=""
			                                                    ng-model="team" 
			                                                    width="'100%'" 
			                                                    class="chosen-select input-md"
			                                                    data-placeholder="Escolha um...">
			                                                <optgroup>
			                                                    <option value=""></option>
										                        <option value="TENDA">1 TENDA</option>
										                        <option value="TP-LINK">2 TP-LINK</option>
										                        <option value="D-LINK">3 D-LINK</option>
										                        <option value="PACIFIC">4 PACIFIC</option>
										                        <option value="OUTROS">5 OUTROS</option>
										                        <option value="SEM ROTEADOR">6 SEM ROTEADOR</option>
			                                                </optgroup>
			                                            </select>
			                                        </div>
			                                    </div>
											</fieldset>
										</div>
									</div>
							</div>  
					   	</tab>
						<tab heading="Pagamento">
						   <hr>
						   <div id="panelDadosCad" 
							 class="panel panel-default col-lg-12">
								<div ng-class="{'panel-heading-collapsed':panelDadosCad}" class="panel-heading">Informações Contratuais
									<paneltool tool-collapse="tool-collapse" 
											   ng-init="panelDadosCad=true">
									</paneltool>
								</div>
								<div collapse="panelDadosCad" class="panel-wrapper">
									<div class="panel-body">
									  <div class="form-group">
										
									  </div>
									</div>
								</div>
							</div>
						</tab>
					</tabset>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-6">
						<div class="form-group">
							<button class="btn btn-primary" 
									data-ng-click="PessoasCadCtrl.demo4()">
								<i class=""></i> Salvar
							</button>
							<button class="btn btn-primary" 
									data-ng-click="PessoasCadCtrl.demo6()">
								<i class=""></i> Salvar e Gerar Boleto
							</button>
							<button data-ng-click="PessoasCadCtrl.deletar()" 
									data-ng-show="PessoasCadCtrl.pessoas.id" 
									class="btn btn-danger">
								<i class=""></i> Deletar
							</button>
							<button class="btn btn-default" 
									data-ng-click="PessoasCadCtrl.cancelar()" 
									data-ng-show="PessoasCadCtrl.pessoas.id" 
									type="button">
								Cancelar
							</button>
							<input class="btn btn-default" 
								   type="reset" 
								   name="reset" 
								   value="Limpar">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	
	  $(".my_select_box").chosen({
    	disable_search_threshold: 10,
    	no_results_text: "Oops, nothing found!",
    	width: "95%"
  	});
</script>