<nav role="navigation" class="navbar topnavbar">
   <div class="navbar-header">
      <button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle collapsed">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a href="#/" class="navbar-brand">
         <div class="brand-logo">
            <img src="content/img/logo.png" alt="App Logo" class="img-responsive" />
         </div>
      </a>
   </div>
   <div uib-collapse="navCollapsed" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
         <li>
            <a ui-sref="page.lock" title="Lock screen">
               <em class="icon-lock"></em>
            </a>
         </li>
         <li>
            <a href="" search-open="search-open">
               <em class="icon-magnifier"></em>
            </a>
         </li>
         <li class="visible-lg">
            <a href="" toggle-fullscreen="toggle-fullscreen">
               <em class="fa fa-expand"></em>
            </a>
         </li>
         <li uib-dropdown="" class="dropdown dropdown-list">
            <a uib-dropdown-toggle="">
               <em class="icon-bell"></em>
               <div class="label label-danger">11</div>
            </a>
            <ul class="uib-dropdown-menu animated flipInX">
               <li>
                  <div class="list-group">
                     <a href="" class="list-group-item">
                        <div class="media-box">
                           <div class="pull-left">
                              <em class="fa fa-twitter fa-2x text-info"></em>
                           </div>
                           <div class="media-box-body clearfix">
                              <p class="m0">New followers</p>
                              <p class="m0 text-muted">
                                 <small>1 new follower</small>
                              </p>
                           </div>
                        </div>
                     </a>
                     <a href="" class="list-group-item">
                        <div class="media-box">
                           <div class="pull-left">
                              <em class="fa fa-envelope fa-2x text-warning"></em>
                           </div>
                           <div class="media-box-body clearfix">
                              <p class="m0">New e-mails</p>
                              <p class="m0 text-muted">
                                 <small>You have 10 new emails</small>
                              </p>
                           </div>
                        </div>
                     </a>
                     <a href="" class="list-group-item">
                        <div class="media-box">
                           <div class="pull-left">
                              <em class="fa fa-tasks fa-2x text-success"></em>
                           </div>
                           <div class="media-box-body clearfix">
                              <p class="m0">Pending Tasks</p>
                              <p class="m0 text-muted">
                                 <small>11 pending task</small>
                              </p>
                           </div>
                        </div>
                     </a>
                     <a href="" class="list-group-item">
                        <small translate="topbar.notification.MORE">More notifications</small>
                        <span class="label label-danger pull-right">14</span>
                     </a>
                  </div>
               </li>
            </ul>
         </li>
         <li>
            <a href="" ng-click="app.offsidebarOpen = !app.offsidebarOpen">
               <em class="icon-notebook"></em>
            </a>
         </li>
      </ul>
   </div>
   <form role="search" action="search.html" class="navbar-form">
      <div class="form-group has-feedback">
         <input type="text" placeholder="{{ 'topbar.search.PLACEHOLDER' | translate }}" class="form-control" />
         <div search-dismiss="search-dismiss" class="fa fa-times form-control-feedback"></div>
      </div>
      <button type="submit" class="hidden btn btn-default">Submit</button>
   </form>
</nav>
