<h3>Pessoas
   <small>Listar</small>
</h3>
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/listPessoas" class="active">Pessoas</a></li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    <h4>Pessoas</h4><!-- {{PessoasCtrl.pessoas.isLast}} -->
                </div>
            </div>
        </div>
        <div class="panel-body">
            <legend>Físicas</legend>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th widh="30%">Nome</th>
                        <th widh="30%">E-mail</th>
                        <th width="15%">CPF</th>
                        <th width="15%">Telefone</th>
                        <th width="10%">Ações</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td colspan="4">{{PessoasCtrl.getTotalPessoas()}}</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr data-ng-repeat="fisica in PessoasCtrl.fisicas | filter:search | filter:searchText track by fisica.id"
                        data-ng-show="fisica.id"
                        >
                        
                        <td>{{fisica.nome}}
                        </td>
                        <td >
                            {{fisica.email}}
                        </td>
                        <td>
                            {{fisica.cpf}}
                        </td>
                        <td>
                            {{fisica.telefone}}
                        </td>
                        <td align="center">
                            <div class="btn-group">
                                <a data-ng-click="PessoasCtrl.openModalEdit(pessoa._id)"
                                   popover="Editar"
                                   popover-trigger="mouseenter"
                                   class="btn btn-default btn-sm">
                                <i class="btn-small fa fa-pencil-square-o"></i>
                                </a>
                                <a data-ng-click="PessoasCtrl.deletar(pessoa._id)"
                                   popover="Remover"
                                   popover-trigger="mouseenter"
                                   class="btn btn-default btn-sm">
                                    <i class="btn-small fa fa-trash-o"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <legend>Jurídicas</legend>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th widh="30%">Nome Fantasia</th>
                        <th widh="30%">Razão Social</th>
                        <th width="15%">CNPJ</th>
                        <th width="15%">Telefone</th>
                        <th width="10%">Ações</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td colspan="4">{{PessoasCtrl.getTotalPessoas()}}</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr data-ng-repeat="juridica in PessoasCtrl.juridicas | filter:search | filter:searchText track by juridica.id"
                        data-ng-show="juridica.id"
                        >
                        
                        <td>{{juridica.fantasia}}
                        </td>
                        <td >
                            {{juridica.razao_social}}
                        </td>
                        <td>
                            {{juridica.cnpj}}
                        </td>
                        <td>
                            {{juridica.telefone}}
                        </td>
                        <td align="center">
                            <div class="btn-group">
                                <a data-ng-click="PessoasCtrl.openModalEdit(pessoa._id)"
                                   popover="Editar"
                                   popover-trigger="mouseenter"
                                   class="btn btn-default btn-sm">
                                <i class="btn-small fa fa-pencil-square-o"></i>
                                </a>
                                <a data-ng-click="PessoasCtrl.deletar(pessoa._id)"
                                   popover="Remover"
                                   popover-trigger="mouseenter"
                                   class="btn btn-default btn-sm">
                                    <i class="btn-small fa fa-trash-o"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
        </div>
        <nav>
          <ul class="pager">
            <li class="PessoasCtrl.prevDesabled">
              <a data-ng-click="PessoasCtrl.prevPage()"
                 data-ng-disabled="PessoasCtrl.prevDesabled()"
                 type="button"
                 name="PessoasCtrl.detail"
                 class="btn btn-default btn-sm"> Anterior
                </a>
            </li>
            <li>
                <a data-ng-click="PessoasCtrl.nextPage()"
                   type="button"
                   ng-disabled="PessoasCtrl.nextDesabled()"
                   name="PessoasCtrl.detail"
                   class="btn btn-default btn-sm"> Proximo 
                </a>
            </li>
          </ul>
        </nav>
        </div>
    </div>
</div>

